/* fonts */

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: normal;
    font-weight: bold;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: italic;
    font-weight: bold;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: italic;
    font-weight: normal;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: normal;
    font-weight: normal;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-regular.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: normal;
    font-weight: bold;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-bold.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: italic;
    font-weight: bold;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-bolditalic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: italic;
    font-weight: normal;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-italic.woff');
}

@font-face {
    font-display: swap;
    font-family: 'TeX Gyre Pagella';
    font-style: normal;
    font-weight: normal;
    src: url('../font/TeX-Gyre-Pagella/texgyrepagella-regular.woff');
}

/* global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

time {
    color: gray;
    margin-left: 1rem;
    min-width: 5rem;
}

#wrapper {
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    font-family: 'TeX Gyre Pagella', 'Times New Roman', serif;
    min-height: 100vh;
    overflow-wrap: break-word;
    padding: 1rem;
}

.link {
    color: #AA0000;
    text-decoration: underline;
}

.paginator {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

::-webkit-scrollbar {
    background-color: #FAFAFA;
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #AAAAAA;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888888;
}

/* header */

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#header > h1 {
    text-align: center;
}

@media screen and (min-width: 768px) {
    #header > h1 {
        font-size: 2.2rem;
    }
}

#header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 650px;
    width: 100%;
}

#header > nav > span > a {
    font-size: 1.2rem;
}

/* main */

#main {
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 768px;
    padding: 2rem 0;
    width: calc(100% - 2rem);
}

/* footer */

#footer {
    align-items: center;
    display: flex;
    font-size: .9rem;
    flex-direction: column;;
}

#footer > .footnote {
    text-align: center;
}

/* flexbox */

.flexing {
	display: flex;
	flex-direction: row;
	gap: 5%;
}

@media screen and (max-width:768px) {
	.flexing {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}
}
